.slid-img{
    width: 100px;
    height: auto;
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
   
  }
  a{
    text-decoration: none !important;
  }
  .price1 {
    color: grey;
    font-size: 22px;
  }
  
  .card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .card1 button:hover {
    opacity: 0.7;
  }